@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h1 {
      @apply font-kulim text-[40px] font-bold dark:text-white;
    }
    h2 {
        @apply font-kulim text-2xl dark:text-white;
    }
    h3 {
        @apply font-kulim text-lg xl:text-xl dark:text-white;
    }
    p {
      @apply font-roboto text-base dark:text-white;
    }
  }
  